{% extends 'base-back.html.twig' %}

{% block title %}Edit Bagage{% endblock %}

{% block body %}
    <h1>Edit Bagage</h1>

    {{ include('bagage/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-light"href="{{ path('app_bagage_index') }}">back to list</a>

    {{ include('bagage/_delete_form.html.twig') }}
{% endblock %}
