{% extends 'base-back.html.twig' %}

{% block title %}New Bagage{% endblock %}

{% block body %}
    <h1>Create new Bagage</h1>

    {{ include('bagage/_form.html.twig') }}

    <a class="btn btn-outline-light" href="{{ path('app_bagage_index') }}">back to list</a>
{% endblock %}
