<form method="post" action="{{ path('app_fraisbagage_delete', {'id': fraisbagage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fraisbagage.id) }}">
    <button class="btn">Delete</button>
</form>
