{% extends 'base.html.twig' %}

{% block title %}Edit Airport{% endblock %}

{% block body %}
     <div class="container-fluid mt-5">
   <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier Aeroport</h3>
              </div>

    {{ include('airport/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="btn btn-block btn-outline-warning btn-lg mt-1" type="button" href="{{ path('app_airport_index') }}">retour au liste</a>

    {{ include('airport/_delete_form.html.twig') }}
{% endblock %}
