{% extends 'base.html.twig' %}

{% block title %}Edit Escale{% endblock %}

{% block body %}
     <div class="container-fluid mt-5">
   <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier Escale</h3>
              </div>

    {{ include('escale/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-block btn-outline-warning btn-lg mt-1" type="button" href="{{ path('app_escale_index') }}">retour au listte</a>

    {{ include('escale/_delete_form.html.twig') }}
{% endblock %}
