{% extends 'base-back.html.twig' %}

{% block title %}Infarstructure {% endblock %}


{% block body %}


<div class="row ">
          <div class="col-6 style="height : 400px"">
            <!-- small box -->
            <div class="small-box bg-info" >
              <div class="inner">
                <h3>Gestion Equipement</h3>


              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{{ path('app_equipements_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Gestion Departement</h3>


              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{{ path('app_departement_index') }}"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          
        {% endblock %}